<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>myConsumerSecret_API_SECRET</key>
	<string>W6qgUQACS2PC9QUCcdExEkwIohtc4ShURKuUcD9b3aOvmskqdn</string>
	<key>myConsumerKey_API_KEY</key>
	<string>Qx0SNUcvPTrFnX8LgrnvbzXHU</string>
</dict>
</plist>
